body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* header */
.header{
	display: block;
	width: 100%;
	position: relative;
	z-index: 99;
	padding:15px;
    background-color: black;
}

#picinsertimg{
	width:  180px;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}

.header .item-left{
	flex:0 0 17%;
}
.header .logo a{
	font-size: 30px;
	color:#ffffff;
	font-weight: 700;
	text-decoration: none;
}
.header .item-center{
	flex:0 0 66%;
}

.menu-main{
    margin-right: 60px;
}
.header .item-right{
	flex:0 0 17%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#ffffff;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
     margin-top: 10px;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 15px;
	font-weight: 500;
	color:#ffffff;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 15px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 15px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 16px;
	color: #001e56;
	font-weight: 700;
	line-height: 1;
	padding-left: 30px;
	padding-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}

.titleaccessories{
	margin-right: 8px;
	font-size: 16px;
	color: #001e56;
	font-weight: 700;
	line-height: 1;
	padding-top: 10px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#ea4636;
}
/* banner section */
.banner-section{
  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/**
 * todo Product Page
 */

 /**
  *     left side shop by categories
  */

.categories{
    width: 75%;
    height: 150px;
    border: 1px solid gainsboro;
    transition: 0.5s;
}

.categoryrow{
    background-color: rgb(247, 247, 247);
    padding: 5px 0px;
}

 /**
  *     left side shop by filter by
  */

.filter{
    width: 75%;
    height: 560px;
    border: 1px solid gainsboro;
}

.filterrow{
    background-color: rgb(247, 247, 247);
    padding: 5px 0px;
}

.filterAvailabilityrow{
    padding: 5px 0px;
}

.textinput{
    width: 25%;
    height: 120%;
    margin-right: 30px;
}

.boxblack, .boxgreen, .boxblue{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
}

.boxred{
    background-color: red;
}

.boxblack{
    background-color: rgb(0, 0, 0);
}

.boxgreen{
    background-color: green;
}

.boxblue{
    background-color: rgb(44, 60, 196);
}

/**
 * New product
 */

.newProduct{
    width: 75%;
    height: 320px;
    border: 1px solid gainsboro;
}

.newProduct i{
    color: rgb(255, 209, 4);
}


.newProductrow{
    background-color: rgb(247, 247, 247);
    padding: 5px 0px;
}

.newProductphoto1{
    background-image: url("9.jpg");
    background-position: center;
    background-size: cover;
}

.newProductphoto2{
    background-image: url("6.jpg");
    background-position: center;
    background-size: cover;
}
.newProductphoto3{
    background-image: url("7.jpg");
    background-position: center;
    background-size: cover;
}


/**
 * RightSide
 */
.rightsidebannerphotodiv{
    height: 300px;
    border: 1px solid black;
    background-image: url("2.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(98,98,98,255);
}

.rightsidebannerphototextdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.firsttext{
    font-size: 30px;
    color: white;
}

.sectext{
    font-size: 50px;
    color: white;
}

.rightsidebannerphototextdiv button{
    background-color: rgba(98,98,98,255);
    color: white;
    padding: 10px;
    border: 1px solid white;
}

.sortbydiv{
    height: 70px;
    margin-top: 30px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(247, 247, 247);
}

.sortbydiv i{
    color: #919191;
}

.sortbydiv select{
    width: 150px;
    height: 35px;
    border: 1px solid rgb(192, 192, 192);
}

.products{
    height: 1020px;
    border: 1px solid black;
    margin-top: 30px;
}

.productsheightextend{
    height: 2580px;
}

.product1{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}



.product2{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}


.product3{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product4{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product5{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product6{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product7{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product8{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
}

.product9{
    height: 300px;
    width: 30%;
    border: 1px solid black;
    display: inline-block;
    margin:20px 10px;
    display: none;
}

.barStyleSort{
    width: 100%;
    margin:10px 0px;
}

.barStyleSortPhoto{
    width: 25%;
    height: 100%;
    display: inline-block;
}

#img{
    width: 100%;
    height: 222px;
}


.productphoto1{
    width: 100%;
    height: 75%;

}

.productphoto2{
    width: 100%;
    height: 75%;
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto3{
    width: 100%;
    height: 75%;
    background-image: url(3.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto4{
    width: 100%;
    height: 75%;
    background-image: url(9.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto5{
    width: 100%;
    height: 75%;
    background-image: url(5.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto6{
    width: 100%;
    height: 75%;
    background-image: url(6.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto7{
    width: 100%;
    height: 75%;
    background-image: url(7.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto8{
    width: 100%;
    height: 75%;
    background-image: url(8.jpg);
    background-position: center;
    background-size: cover;
}

.productphoto9{
    width: 100%;
    height: 75%;
    background-image: url(wear.jpg);
    background-position: center;
    background-size: cover;
}

.productbottomtext{
    position: relative;
    bottom: 0;
    height: 25%;
}

#buttonproduct{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}

#buttonproduct2{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}


#buttonproduct3{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}
#buttonproduct4{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}
#buttonproduct5{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}
#buttonproduct6{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}
#buttonproduct7{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}

#buttonproduct8{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}

#buttonproduct9{
    height: 30px;
    width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: rgb(4, 184, 184);
	color: white;
    border: 0;
    margin: auto;
    display: none;
}








/**
 * Footer
 */

body{margin-top:20px;}
.footer_area {
    position: relative;
    z-index: 1;
    overflow: hidden;
	box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    padding:60px;
}
.footer_area .row {
    margin-left: -25px;
    margin-right: -25px;
}
.footer_area .row .col,
.footer_area .row .col-1,
.footer_area .row .col-10,
.footer_area .row .col-11,
.footer_area .row .col-12,
.footer_area .row .col-2,
.footer_area .row .col-3,
.footer_area .row .col-4,
.footer_area .row .col-5,
.footer_area .row .col-6,
.footer_area .row .col-7,
.footer_area .row .col-8,
.footer_area .row .col-9,
.footer_area .row .col-auto,
.footer_area .row .col-lg,
.footer_area .row .col-lg-1,
.footer_area .row .col-lg-10,
.footer_area .row .col-lg-11,
.footer_area .row .col-lg-12,
.footer_area .row .col-lg-2,
.footer_area .row .col-lg-3,
.footer_area .row .col-lg-4,
.footer_area .row .col-lg-5,
.footer_area .row .col-lg-6,
.footer_area .row .col-lg-7,
.footer_area .row .col-lg-8,
.footer_area .row .col-lg-9,
.footer_area .row .col-lg-auto,
.footer_area .row .col-md,
.footer_area .row .col-md-1,
.footer_area .row .col-md-10,
.footer_area .row .col-md-11,
.footer_area .row .col-md-12,
.footer_area .row .col-md-2,
.footer_area .row .col-md-3,
.footer_area .row .col-md-4,
.footer_area .row .col-md-5,
.footer_area .row .col-md-6,
.footer_area .row .col-md-7,
.footer_area .row .col-md-8,
.footer_area .row .col-md-9,
.footer_area .row .col-md-auto,
.footer_area .row .col-sm,
.footer_area .row .col-sm-1,
.footer_area .row .col-sm-10,
.footer_area .row .col-sm-11,
.footer_area .row .col-sm-12,
.footer_area .row .col-sm-2,
.footer_area .row .col-sm-3,
.footer_area .row .col-sm-4,
.footer_area .row .col-sm-5,
.footer_area .row .col-sm-6,
.footer_area .row .col-sm-7,
.footer_area .row .col-sm-8,
.footer_area .row .col-sm-9,
.footer_area .row .col-sm-auto,
.footer_area .row .col-xl,
.footer_area .row .col-xl-1,
.footer_area .row .col-xl-10,
.footer_area .row .col-xl-11,
.footer_area .row .col-xl-12,
.footer_area .row .col-xl-2,
.footer_area .row .col-xl-3,
.footer_area .row .col-xl-4,
.footer_area .row .col-xl-5,
.footer_area .row .col-xl-6,
.footer_area .row .col-xl-7,
.footer_area .row .col-xl-8,
.footer_area .row .col-xl-9,
.footer_area .row .col-xl-auto {
    padding-right: 25px;
    padding-left: 25px;
}

.single-footer-widget {
    position: relative;
    z-index: 1;
}
.single-footer-widget .copywrite-text a {
    color: #747794;
    font-size: 1rem;
}
.single-footer-widget .copywrite-text a:hover,
.single-footer-widget .copywrite-text a:focus {
    color: #3f43fd;
}
.single-footer-widget .widget-title {
    margin-bottom: 1.5rem;
}
.single-footer-widget .footer_menu li a {
    color: #747794;
    margin-bottom: 1rem;
    display: block;
    font-size: 1rem;
}
.single-footer-widget .footer_menu li a:hover,
.single-footer-widget .footer_menu li a:focus {
    color: #3f43fd;
}
.single-footer-widget .footer_menu li:last-child a {
    margin-bottom: 0;
}

.footer_social_area {
    position: relative;
    z-index: 1;
}
.footer_social_area a {
    border-radius: 50%;
    height: 40px;
    text-align: center;
    width: 40px;
    display: inline-block;
    background-color: #f5f5ff;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 10px;
}
.footer_social_area a i {
    line-height: 36px;
}
.footer_social_area a:hover,
.footer_social_area a:focus {
    color: #ffffff;
}

@-webkit-keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes bi-cycle {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
ol li, ul li {
    list-style: none;
}

ol, ul {
    margin: 0;
    padding: 0;
}


#uparrow1{
    display: none;
}

#uparrow2{
    display: none;
}

#uparrow3{
    display: none;
}

#searchButton{
    width: 50%;
    border: 0;
    background-color:#36b7ea;;
    color: white;
    margin-left: 42px;
    border-radius: 10px;
}

.productPage{
    display: inline-block;
}

.cart{
    width: 16%;
    height: 550px;
    border: 1px solid #36b7ea;;
    display: inline-flex;
    justify-content: center;
    padding-top: 10px;
    position: sticky;
    left: 2015px;
    top: 0px;
    border-width: 3px 0px 3px 3px;
    visibility: hidden;
    border-radius: 30px 0px 0px 30px;
    overflow: auto;
}

#cartbutton{
    background-color: #36b7ea;
    color: white;
    border-radius: 10px;
    padding: 6px;
    border: 0;
}

.div{
    width: 100%;
    height: 70px;
    border:1px solid #36b7ea;
    margin-Top:20px;
}

.photodiv1{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv2{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("2.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv3{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("3.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv4{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("9.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv5{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("5.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv6{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("6.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv7{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("7.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.photodiv8{
    width: 60px;
    height: 68px;
    border: 1px solid black;
    background-image: url("8.jpg");
    background-position: center;
    background-size: cover;
    float: left;
}

.nametext1{
    font-weight: 700;
    margin-left: 3px;
    display: inline-block;
    font-size: 18px;
}

.pricetext1{
    font-weight: 700;
    margin-left: 27px;
    color: #36b7ea;
    display: inline-block;
}

.inputorder{
    width: 13%;
    position: relative;
    left: 22px;
    top: 5px;
}

.deletebutton1{
    color: red;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 17px;
}

#firstUlOccasion{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#secUlOccasion{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
#thdUlOccasion{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

