{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product-page.css' %}"/>
        <!--aod kutuphanesi-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="yourpath/magic.css">
    <!--animate.style kütüphanesi-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <title>Landing Page</title>
</head>
<body>

 <!-- header start -->
 <header class="header">
    <div class="container">
        <div class="row v-center">
            <div class="header-item item-left">
                <div class="logo">
                    <a href="LandingPage.html">SuitCo</a>
                </div>
            </div>
            <!-- menu start here -->
            <div class="header-item item-center text-center">
                <div class="menu-overlay">
                </div>
                <nav class="menu">
                    <div class="mobile-menu-head">
                        <div class="go-back"><i class="fa fa-angle-left"></i></div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="menu-main">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Models<i class="fa fa-angle-down"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                              <div class="list-item">
                                    <h4 class="title">Custom Suits</h4>
                                    <ul> 
                                            <div class="picinsert">
                                                <img id="picinsertimg" src="custom.jpg" alt="new Product">
                                            </div>
                                    </ul>
                                    <h4 class="title">Luxury Blazers</h4>
                                    <ul>
                                        <div class="picinsert">
                                            <img id="picinsertimg" src="dual42.jpg" alt="new Product">
                                        </div>
                                    </ul>
                              </div>
                              <div class="list-item">
                                  <h4 class="title">Formal Jacket</h4>
                                  <ul>
                                    <img id="picinsertimg" src="wear.jpg" alt="new Product">
                                    </ul>
                                    <h4 class="title">Shirts</h4>
                                  <ul>
                                    <img id="picinsertimg" src="shirt2.jpg" alt="new Product">
                                    </ul>
                              </div>
                              <div class="list-item">
                                  <h4 class="title">Sport Coats</h4>
                                  <ul>
                                    <img id="picinsertimg" src="sport.jpg" alt="new Product">
                                    </ul>
                  
            
                                <h4 class="title">Casual Wear</h4>
                                <ul>
                                  <img id="picinsertimg" src="dual32.jpg" alt="new Product">
                                  </ul>
                            </div>
                            <div class="list-item">
                                <h4 class="title">Trench Coats</h4>
                                <ul>
                                  <img id="picinsertimg" src="coat.jpg" alt="new Product">
                                  </ul>
                                  <h4 class="title">Pants</h4>
                                <ul>
                                  <img id="picinsertimg" src="pant.jpg" alt="new Product">
                                  </ul>
                            </div>
                            </div>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Accessories <i class="fa fa-angle-down"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item text-center">
                            
                                    <img  id="picinsertimg" src="watch.jpg" alt="new Product">
                                    <h4 class="titleaccessories">Watch</h4>
                                
                                </div>
                                <div class="list-item text-center">
                                
                                    <img  id="picinsertimg" src="tie.jpg" alt="new Product">
                                    <h4 class="titleaccessories">Tie</h4>
                                
                                </div>
                                <div class="list-item text-center">
                                   
                                    <img   id="picinsertimg"src="glasses.jpg" alt="new Product">
                                    <h4 class="titleaccessories">Glasses</h4>
                              
                                </div>
                                <div class="list-item text-center">
                                 
                                    <img  id="picinsertimg" src="neklace.jpg" alt="new Product">
                                    <h4 class="titleaccessories">Neglace</h4>
                                 
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- menu end here -->
            <div class="header-item item-right">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="far fa-heart"></i></a>
                <a href="#"><i class="fas fa-shopping-cart" id="shoppingCart"></i></a>
                <!-- mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="cart" id="cart">
    <div class="container" id="cartcontainer">
        <div class="row">
            <div class="col-lg-12 text-end">
                <i class="fa-solid fa-xmark" id="xmarkcart" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
               <h4 style="font-weight: 700;">YOUR CART</h4>
            </div>
        </div>
        <!--Ürünler Buraya yerleşecek-->
        <hr>
        <div class="row justify-content-between">
            <div class="col-lg-6 text-center">
                <button id="cartbutton">
                    <a href="order.html" style="color:white; text-decoration: none;">Buy Now</a>
                </button>
            </div>
            <div class="col-lg-6 text-center my-auto" id="totalAmount">
              
            </div>
        </div>
    </div>
</div>



    <!--Product Page-->


    <div class="productPage mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12 categories" id="categories">
                            <div class="row categoryrow">
                                <div class="col-lg-12">
                                    <span style="font-size: 19px;">Shop By Occasions</span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12">
                                    <div class="row justify-content-between" id="formalOccasion">
                                                <div class="col-lg-5"  style="transition: 0.6s;">
                                                    Formal
                                                </div>
                                                <div class="col-lg-3 text-end">
                                                    <i class="fa-solid fa-angle-down" id="downarrow1"></i>
                                                    <i class="fa-solid fa-angle-up"  id="uparrow1"></i>
                                                </div>
                                                <div  id="firstUlOccasion">
                                                    <ul class="mt-2 ms-3">
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                    </ul>
                                                </div>
  
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                            <div class="row justify-content-between"  id="CasualOccasion">
                                                <div class="col-lg-5" style="transition: 0.6s;">
                                                    Casual
                                                </div>
                                                <div class="col-lg-3 text-end">
                                                    <i class="fa-solid fa-angle-down" id="downarrow2"></i>
                                                    <i class="fa-solid fa-angle-up"  id="uparrow2"></i>
                                                </div>
                                                <div  id="secUlOccasion" >
                                                    <ul class="mt-2 ms-3">
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-lg-12">
                                            <div class="row justify-content-between">
                                                <div class="col-lg-5">
                                                   Luxury
                                                </div>
                                                <div class="col-lg-3 text-end">
                                                    <i class="fa-solid fa-angle-down" id="downarrow3"></i>
                                                    <i class="fa-solid fa-angle-up"  id="uparrow3"></i>
                                                </div>
                                                <div id="thdUlOccasion" >
                                                    <ul class="mt-2 ms-3">
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                        <li>Lorem</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-12 filter">
                            <div class="row filterrow">
                                <div class="col-lg-12">
                                    <span style="font-size: 19px;">Filter by</span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-12">
                                    <div class="row filterAvailabilityrow">
                                        <div class="col-lg-12">
                                          <span style="font-weight: 600; font-size: 15px;">Availability</span>
                                          <form action="/action_page.php">
                                            <input type="checkbox" id="InStock" name="vehicle1" value="InStock" onclick="myFunction2()">
                                            <label for="In">In Stock(8)</label><br>
                                            <input type="checkbox" id="OutStock" name="vehicle2" value="InStock" onclick="myFunction()">
                                            <label for="OutStock"> Out of Stock(1)</label><br>
                                          </form>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                  <span style="font-weight: 600; font-size: 15px;">Price</span> <br>
                                                  <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        $ <input type="text" id="priceFrom" class="textinput" placeholder="From"> $ <input type="text" id="priceTo" placeholder="To" class="textinput">
                                                    </div>
                                                  </div>
                                                    <div class="row mt-3">
                                                        <button id="searchButton" >Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                  <span style="font-weight: 600; font-size: 15px;">Color</span> <br>
                                                  <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <div class="boxblue" id="boxblue"></div>
                                                        <div class="boxgreen" id="boxgreen"></div>
                                                        <div class="boxblack" id="boxblack"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                  <span style="font-weight: 600; font-size: 15px;">Size</span> <br>
                                                  <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <form action="/action_page.php">
                                                              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                                              <label for="vehicle1">S (1)</label><br>
                                                              <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                              <label for="vehicle2"> M (1)</label><br>
                                                              <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                              <label for="vehicle2"> L (1)</label><br>
                                                              <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                                                              <label for="vehicle2"> XL (1)</label><br>
                                                            </form>
                                                          </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-12 newProduct">
                            <div class="row newProductrow">
                                <div class="col-lg-12">
                                    New Products
                                </div>
                            </div>
                            <div class="row ps-3 pt-3">
                                <div class="col-lg-3 newProductphoto1">

                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            lorem
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span style="text-decoration:line-through; font-size: 12px;">$699.90</span> 
                                            <span style="color: rgb(4, 184, 184); font-size: 16px;">$649.90</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ps-3 pt-3">
                                <div class="col-lg-3 newProductphoto2">

                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            lorem
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span style="text-decoration:line-through; font-size: 12px;">$699.90</span> 
                                            <span style="color: rgb(4, 184, 184); font-size: 16px;">$649.90</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ps-3 pt-3">
                                <div class="col-lg-3 newProductphoto1">

                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            lorem
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span style="text-decoration:line-through; font-size: 12px;">$699.90</span> 
                                            <span style="color: rgb(4, 184, 184); font-size: 16px;">$649.90</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-regular fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 style="font-weight: 600;">Classiness</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, suscipit
                                dignissimos provident ipsam sequi porro dolores culpa dolore, laudantium 
                                voluptates saepe, excepturi enim cupiditate? Necessitatibus unde obcaecati 
                                maxime nobis est.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, suscipit
                                dignissimos provident ipsam sequi porro dolores culpa dolore, laudantium 
                                voluptates saepe, excepturi enim cupiditate? Necessitatibus unde obcaecati 
                                maxime nobis est.
                                <br> <br>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, suscipit
                                dignissimos provident ipsam sequi porro dolores culpa dolore, laudantium 
                                voluptates saepe, excepturi enim cupiditate? Necessitatibus unde obcaecati 
                                maxime nobis est.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 rightsidebannerphotodiv">
                            <div class="rightsidebannerphototextdiv">
                                <div class="container">
                                    <div class="row ">
                                        <div class="col-lg-12 text-center firsttext">
                                            WE HAVE THE SUIT
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-12 text-center sectext">
                                                YOU NEED
                                        </div>
                                    </div>
                                    <div class="row justify-content-center ">
                                        <div class="col-lg-12 text-center">
                                            <button>
                                                Click Here To Receive Your Coupon
                                            </button> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 sortbydiv">
                            <div class="row justify-content-between">
                                <div class="col-lg-5 my-auto">
                                    <i class="fa-solid fa-bars me-2" id="baricon" style="cursor: pointer;"></i>
                                    <i class="fa-solid fa-pause me-4" id="pauseicon" style="cursor: pointer;"></i> 
                                    <span>Showing 8 of 8 Products</span>
                                </div>
                                <div class="col-lg-5 text-end"> 
                                    <label for="cars">Sort By:</label>

                                    <select name="cars" id="sortby"  onchange="mySortingFunction()">
                                      <option>Featured</option>
                                      <option id="optionBestSelling">Best Selling</option>
                                      <option id="optionAZ">Alphabetically A-Z</option>
                                      <option id="optionZA">Alphabetically Z-A</option>
                                      <option id="optionLowHigh">Price, Low to High</option>
                                      <option id="optionHighLow">Price, High to Low</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-lg-12 products text-lg-center" id="products">
                            {% for Product in products %}
                            <div class="product1" id="product1">
                                <div class="productphoto1" id="productphoto1">
                                    <img id="img" src = "{{Product.image.url}}">
                                </div>
                                <div class="productbottomtext">
                                  <div class="row">
                                      <div class="col-lg-12 productName" style="font-size: 23px;">
                                        {{Product.name}}
                                      </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-lg-12 pricednone" id="pricednone">
                                            <span style="text-decoration:line-through; font-size: 12px;">${{Product.discounted}}</span> 
                                            <span style="color: rgb(4, 184, 184); font-size: 16px;" id="suitprice">{{Product.price|floatformat:2}}</span>
                                        </div>
                                        <div class="col-lg-12 text-center">
                                            <button id="buttonproduct">Add To Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                        
    
       
            <!--Footer-->

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0 mt-5">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Footer Logo-->
              <div class="footer-logo mb-3"></div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum excepturi tenetur</p>
              <!-- Copywrite Text-->
              <div class="copywrite-text mb-5">
                <p class="mb-0">Made <i class="lni-heart mr-1"></i>by <a class="ml-1">MFK</a></p>
              </div>
              <!-- Footer Social Area-->
              <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">About</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Corporate Sale</a></li>
                  <li><a href="#">Terms &amp; Policy</a></li>
                  <li><a href="#">Community</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Support</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help &amp; Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Call Center</a></li>
                  <li><a href="#">Email Us</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help Center</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    



    <script>
        AOS.init();
      </script>
<script src="{% static 'js/product-page.js' %}"></script>
</body>
</html>